body{
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
</style>
}
header a{
    float: right;
    width: 70px;
    height: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000de;
}
ul.cabeza{
    text-decoration: none;
    list-style: none;
    display: block;
}
.style_icono1 img{
    border-radius: 50%;
    width: 35px;
    height: 35px;

}
.style_icono img{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

main{
    margin-top: 30px;
    text-align: center;
}
img{
    width: 450px;
    height: 250px; 
}
div.logo{
margin: 0px 480px ;
}
#input-search{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.input-search-container :hover{
    box-shadow: 0 1px 6px 0 #20212447;
}
.input-search-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #e1e2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
main input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
.btn-search :hover{
    box-shadow: 0 1px 6px 0 #20212447;
}
.btn-search{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer{
    padding: 10px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
footer ul{
    list-style: none;
    display: flex;
    padding-left: 0px;
}
footer ul li a {
    margin: 10px;
    text-decoration: none;
    color: #70757a
}
.footer-left{
    justify-content: left;
    margin-left: 10px;
}
.footer-rigth{
    justify-content: right;
}