@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Noto+Sans+JP&display=swap');
h1{
    color:aqua
    font-family: 'Anuphan', sans-serif;
}
h2{
    color:blue
    font-family: 'Anuphan', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
}